.watchdog_aggregator_site_details .site_configuration {
    float:left;
}

.watchdog_aggregator_site_details .site_log_details {
    float:right;
}

.watchdog_aggregator_site_details .site_log_statistics {
    clear:both;
}

.watchdog_aggregator_site_details .site_log_statistics .header {
    font-weight:bolder;
}
